
.kup_tabbar {
	margin: 0px; padding: 0px;
}

.kup_tabbar A.off, .kup_tabbar A.on {
	margin: 0px; padding: 0px;
	margin-top: 5px;
    display: block;
    text-align: left;
    text-shadow: 1px 1px 0 white;
    font-family: Arial;
    font-size: 12px;
    color: #F28A31;
    font-style: normal;
    font-weight: normal;
}

.kup_tabbar A.off:hover {
	color: #6A6A69;
}

.kup_tabbar A.on {
    color: #6A6A69;
    font-weight: bold;
}
