.paging {
	width: 100%;
	height: 30px;
	position: relative;
}

.paging table.paging-table {
	position: absolute;
	border-spacing: 0px;
	border-collapse: collapse;
	right: 20px;
	height: 30px;
}

.paging table.paging-table td {
	vertical-align: middle;
	width: 25px;
	height: 30px;
	text-align: center;
}

.paging table.paging-table td a {
	text-decoration: none;
	display: block;
	width: 20px;
	height: 20px;
	text-align: center;
	font: normal 12px Arial;
	color: #575756;
	line-height: 20px;
	cursor: pointer;
}

.paging table.paging-table td a.first {
	background: url(/images/kup/classement/pageFirst.png) top left no-repeat;
}

.paging table.paging-table td a.last {
	background: url(/images/kup/classement/pageLast.png) top left no-repeat;
}

.paging table.paging-table td a.back {
	background: url(/images/kup/classement/pageBack.png) top left no-repeat;
}

.paging table.paging-table td a.next {
	background: url(/images/kup/classement/pageNext.png) top left no-repeat;
}

.paging table.paging-table td a.points {
	background: url(/images/kup/classement/pagePoints.png) top left no-repeat;
}

.paging table.paging-table td a.page-off {
	background: url(/images/kup/classement/pageOff.png) top left no-repeat;
	color: #333333;
}

.paging table.paging-table td a.page-on, .paging table.paging-table td a.page:hover {
	background: url(/images/kup/classement/pageOn.png) top left no-repeat;
	font-weight: bold;
	color: white;
}