.prediction .view {
	width: 710px;
}
.prediction .view .header {
	width: 710px;
}

.prediction .view .header P {
    margin-left: 32px; line-height: 68px;
    font-family: "Trebuchet MS";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #282828;
}

.prediction .view .content {
    width: 710px;
}

.prediction .view .content .date {
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color: #8A8A8A;
    margin-bottom: 3px;
}

.prediction .view .content .match {
    height: 58px;
    background-color: #F0F0F0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 15px;
}

.prediction .view .content .match .orange {
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color: #F28A31;
    line-height: 17px;
}

.prediction .view .content .match .team {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #575756;
}

div.moncompte .corpsGauche .regle H1 {
    width: 700px;
    border: 0px solid white;
    border-bottom: 0px;
}

div.moncompte .corpsGauche .regle P {
    margin-bottom: 1em;
}

div.moncompte .corpsGauche .regle H2 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    color: #575756;
    margin-bottom: 4px;
}

div.moncompte .corpsGauche .regle P.small {
    margin-bottom: 1em;
    font-size: 10px;
}


hr {
    border-bottom: 1px solid #E0E0E0;
}

.tableauLegende, .tableauLegendeSmall, .tableauLegendeSmallNoMarge, .tableauLegende2, .tableauLegende3, .tableauLegende4, .tableauLegendeOrange, .tableauLegendeSuite, .tableauLegendeSuiteSmall {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    color: black;
    line-height: 50px;
    margin-left: 10px;
}

.tableauLegendeSmall, .tableauLegendeSuiteSmall {
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
}

.tableauLegende2 {
    margin: 0px;
    margin-right: 10px;
}

.tableauLegendeOrange {
	font-family: Arial;
    color: #F28A31;
    font-size: 12px;
    line-height: 20px;
}

.tableauLegendeSuite, .tableauLegendeSuiteSmall {
    line-height: 1em;
}

.tableauLegende3 {
	font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #282828;
}

.tableauLegende4 {
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}

.tableauLegendeSmallNoMarge {
    margin-left: 0px;
    font-size: 9    px;
}

.nomarge {
    margin-left: 0px;
}

.table-pronostic-row {
	width: 100%; 
	height: 58px; 
	border-spacing: 0px; 
	border-collapse:collapse;
}

.pellet {
	display: none;
}

td.tdRadio {
	width: 60px;
}

td.tdRadio p {
	display: block;
	width: 100%;
	font: normal 12px Arial;
	color: #555555;
	padding-bottom: 5px;
	text-align: center;
}

td.tdRadio-left, td.avatar-team-left, td.title-team-left {
	text-align: right;
}

td.tdRadio-left p {
	text-align: right;
}

td.tdRadio-right, td.avatar-team-right, td.title-team-right {
	text-align: left;
}

td.tdRadio-right p {
	text-align: left;
}

td.tdRadio-center {
	text-align: center;
}

td.avatar-team {
	width: 60px;
}

td.title-team {
	width: 170px;
	vertical-align: middle;
}

.interogations {
	width: 70px; 
	text-align: center;
}

.question {
	background: url('/images/kup/view/pronostic/backgroundWinner.png');
}

.draft-pronos {
    text-decoration: underline;
}

