.rules-container {
    margin-left: 10px;
    margin-top: 20px;
    width: 670px;
}

.rules-margin {
    margin-left: 35px;
}

.rules-table-container {
    width: 710px;
    margin: 0;
    padding-bottom: 20px;
}

.rules-prize-perso {
    display: block;
    width: 700px;
    margin: 0;
    padding: 0 10px 20px 10px;
}

.rules-prize-perso .box-prizes {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 150px;
    height: 190px;
    margin-left: 15px;
}

.rules-prize-perso .image-container {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.rules-prize-perso .text-container {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

.rules-prize-perso .text-container p {
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
    text-align: center;
}

.rules-prize-perso-picture {
    width: 700px;
}

.rules-block {
    margin-left: 10px;
    margin-top: 20px;
    width: 670px;
}

.rules-block-1 {
    width: 520px;
}

.rules-block-2 {
    width: 71px;
}

.rules-block-3 {
    width: 70px;
}

div.rules-block-3 {
    text-align: right;
}