#grid {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 750px;
	margin: 10px auto 10px auto;
}

#grid #grid-left {
	width: 480px;
	vertical-align: top;
	text-align: center;
}

#grid #grid-right {
	width: 270px;
	vertical-align: top;
	text-align: center;
}

/*
 * GRID LEFT
 */
#next-race-container {
	width: 470px;
	height: 365px;
	display: block;
	position: relative;
	background: url('/image/default/f1/interface/damier.png') top left repeat;
	margin: 30px auto;
}

#last-results-container {
	width: 470px;
	height: auto;
	display: block;
	position: relative;
	background: url('/image/default/f1/interface/damier.png') top left repeat;
	margin: 40px auto;
}

#ranking-container {
	width: 470px;
	height: 350px;
	display: block;
	position: relative;
	background: url('/image/default/f1/interface/damier.png') top left repeat;
	margin: 30px auto;
}


/*
 * GRID RIGHT
 */
#how-to-container {
	width: 260px;
	height: 340px;
	display: block;
	position: relative;
	background: url('/image/default/f1/interface/damier.png') top left repeat;
	margin: 30px auto;
}

#news-container {
	width: 260px;
	height: 340px;
	display: block;
	position: relative;
	background-color: #F0F0F0;
	margin: 30px auto;
}

#betkup-promo-container {
	width: 260px;
	height: 270px;
	display: block;
	position: relative;
	background: url('/image/default/f1/interface/damier.png') top left repeat;
	margin: 30px auto;
}

