#menu {
	width: 758px;
	height: 35px;
	position: absolute;
	bottom: 0px;
	display: block;
}

#menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: block;
}

#menu ul li {
	float: left;
	display: inline-block;
	width: 151px;
	height: 35px;
	margin: 0px;
	padding: 0px;
}

#menu ul li a:link, #menu ul li a:active, #menu ul li a:visited {
	text-decoration: none;
	text-align: center;
	width: 151px;
	height: 35px;
	color: white;
	display: block;
	font: 14px Arial;
	background: #000000;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDQwNDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #000000 0%, #404042 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(100%,#404042));
	background: -webkit-linear-gradient(left,  #000000 0%,#404042 100%);
	background: -o-linear-gradient(left,  #000000 0%,#404042 100%);
	background: -ms-linear-gradient(left,  #000000 0%,#404042 100%);
	background: linear-gradient(left,  #000000 0%,#404042 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#404042',GradientType=1 );
	line-height: 35px;
}

#menu ul li a:hover, #menu > ul > li > a.menu-selected {
	background: #380000;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYTAxMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #380000 0%, #ca0101 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#380000), color-stop(100%,#ca0101));
	background: -webkit-linear-gradient(left,  #380000 0%,#ca0101 100%);
	background: -o-linear-gradient(left,  #380000 0%,#ca0101 100%);
	background: -ms-linear-gradient(left,  #380000 0%,#ca0101 100%);
	background: linear-gradient(left,  #380000 0%,#ca0101 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#380000', endColorstr='#ca0101',GradientType=1 );
}